// Argon Dashboard Variables
$primary: #5e72e4;
$secondary: #8392ab;
$success: #2dce89;
$info: #11cdef;
$warning: #fb6340;
$danger: #f5365c;
$light: #adb5bd;
$dark: #212529;

// Custom variables
$sidebar-width: 250px;
$topbar-height: 72px;
